__pycache__/
checkpoints_spark/
/__pycache__/
/checkpoints_spark/
**/stderr.txt
**/*.log
**/*.log.*
**/*.pyc
logs/*
metastore_db/
predictions/images/
imetastore_db/
ui/prediction/images/
ui/testing/
producers/h5/
predictors/h5/
predictors/h5/*
mongodumpOut/
mongodumpOut.tar.gz
predictors/RL/models/
**/nohup.out
nohup.out
PWA/server/node_modules/*
