<!DOCTYPE html>
<html>
<head>

  <title>CryptoPredicted</title>
  
  <%- include('/home/cryptopredicted/PWA/server/views/parts2/head') %>
  <%- include('/home/cryptopredicted/PWA/server/views/parts2/header_scripts') %>

</head>
<body class="inner">
  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- header of the page -->
    <header id="header">
      <div class="container">
        <div class="inner-container">
          <a href="#" onclick="cp_backButton('/dashboard');return false;" class="btn-back"><span class="icon-arrow2"></span></a>
          <strong class="title">FAQs</strong>
        </div>
      </div>
    </header>
    <!-- contain main informative part of the site -->
    <main id="main">
      <div class="container">

        <div class="sub-container">
          
          <!-- profile-area -->
          <div class="profile-area" style="padding:50px;">
            
            <strong>Who we are:</strong><br>
            <p>
              We are a fintech startup that focuses on cryptocurrency market analysis. 
            </p>

            <strong>What we do:</strong><br>
            <p>
              Our primary focus is on developing trading tools and algorithms with smart people.
              Our secondary focus is to educate new traders through guides and tutorials.
            </p>

            <strong>How we can help:</strong><br>
            <p>
              Our mission is to help you make better crypto trade and investment decisions. We basically provide the necessary resources to help you minimize risk.
            </p>

            <strong>Are there any guarantees?</strong><br>
            <p>
              In life as in trading, there are no guarantees. Fortunately enough we have very smart people that make magic happen.
            </p>


            <br><br>
            
            <strong>How the predictions work:</strong><br>
            <p>
              By applying machine learning we create artificially intelligent systems that generate meaningful predictions. The accuracy of these forecasts can vary and sometimes are unstable, but despite all of this they can help in your decision making process.
            </p>

            <strong>How the signals work:</strong><br>
            <p>
              Our team creates trading algorithms which generate buy and sell signals. On the signals page you can enable email notifications for your preferred strategies. For each strategy you can read its 60-day ROI. This ROI is a lower-bound value because on average you will end up making better trades. The ROI also incorporates the exchange's trading fee and takes slippage into account.
            </p>


            
          </div>
        </div>
      </div>
    </main>
    <!-- footer of the page -->
    <%- include('/home/cryptopredicted/PWA/server/views/parts2/footer_white') %>
  </div>
</body>
</html>
