<!DOCTYPE html>
<html>
<head>

  <title>CryptoPredicted</title>
  
  <%- include('/home/cryptopredicted/PWA/server/views/parts2/head') %>
  <%- include('/home/cryptopredicted/PWA/server/views/parts2/header_scripts') %>

  <style>
    .terms-area p {
      color: #f8f8f8;
    }
    .terms-area p  a {
      color: #f8f8f8;
      font-weight: bold;
    }
  </style>

</head>
<body class="inner">
  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- header of the page -->
    <header id="header">
      <div class="container">
        <div class="inner-container">
          <a href="#" onclick="cp_backButton('/');return false;" class="btn-back"><span class="icon-arrow2"></span></a>
          <strong class="title">Privacy policy</strong>
        </div>
      </div>
    </header>
    <!-- contain main informative part of the site -->
    <main id="main">
      <div class="container">
        <div class="sub-container">

          <!-- terms-area -->
          <div class="terms-area">
            <div class="col">

              <p>By using any web page, product and service hosted under cryptopredicted.com or hold the cryptopredicted brand under our command; and by using any of our products and services promoted and sold by "us"; you automatically agree to these privacy conditions and our <a href="terms">terms</a>. </p>

              <p>All personal information given from the user to "us", by such as registration or purchase details, will not be sold to third parties or used against you in any way. </p>

              <p>Our tools may obtain personal details for improvement reasons only. All your data is safe and will never be shared with other parties. Your accounts and their credentials are only accessible by you.</p>

              <p>We do make use of third-party services that may collect and store some of your data. At this point in time we use Google Analytics for analysis purposes. We also make use of PayPal and Stripe as payment processors. By using our products and services you are also implicitly agreeing to the terms, conditions and privacy policy of these aforementioned services.</p>

            </div>
            <div class="col">

              <p>We reserve the privilege to send our newsletters, updates or other emails to "you". These can contain promotional campaigns for new products or important updates regarding certain products you’ve bought or opted-in for. By purchasing any product from us you will automatically opt-in for the product-specific list. </p>

              <p>We reserve the privilege to change this privacy policy without prior notice. By using any of our stuff, you agree to these facts and accept them.  </p>

              <p>Our website, products and services make use of cookies and session which are stored in your web browser. Cookies set by us are solely used to enhance the user experience and for the protection/security of your account and personal data.</p>
              
              <p>This page has been last updated on: May 15, 2018 </p>

            </div>
          </div>

        </div>
      </div>
    </main>
    <!-- footer of the page -->
    <%- include('/home/cryptopredicted/PWA/server/views/parts2/footer_white') %>
  </div>
</body>
</html>
