<!DOCTYPE html>
<html>
<head>

  <title>CryptoPredicted</title>
  
  <%- include('/home/cryptopredicted/PWA/server/views/parts2/head') %>
  <%- include('/home/cryptopredicted/PWA/server/views/parts2/header_scripts') %>


</head>
<body class="inner">
  <!-- main container of all the page elements -->
  <div id="wrapper">
    <!-- header of the page -->
    <header id="header">
      <div class="container">
        <div class="inner-container">
          <a href="#" onclick="cp_backButton('/');return false;" class="btn-back"><span class="icon-arrow2"></span></a>
          <strong class="title">Support</strong>
        </div>
      </div>
    </header>
    <!-- contain main informative part of the site -->
    <main id="main">
      <div class="container">
        <div class="sub-container">

          <div class="terms-area" style="max-width: 600px; margin:0 auto;">
            <p style="margin-bottom:50px;">
              If you have a personal question, problem or just feel like chatting, reach out to us through one of the following channels:
            </p>

            <strong>Skype</strong>: &nbsp; <a style="color:#fff" href="skype:healthchants?add"><u>healthchants</u></a><br><br>
            <strong>Email</strong>: &nbsp; <a style="color:#fff" href="mailto:support@cryptopredicted.com"><u>support@cryptopredicted.com</u></a><br><br>
            <strong>Telegram</strong>: &nbsp; <a style="color:#fff" href="https://t.me/crypto_predicted" target="_blank"><u>https://t.me/crypto_predicted</u></a><br><br>
            
            <p style="margin-top:50px;">
              Send us an email if you would like to schedule a call/meeting with your desired time(s), date(s) and timezone.<br><br>
              We usually reply within 12 hours. <br>Cheers!
            </p>

          </div>
          

        </div>
      </div>
    </main>
    <!-- footer of the page -->
    <%- include('/home/cryptopredicted/PWA/server/views/parts2/footer_white') %>
  </div>
</body>
</html>
